  input {
      width: 250px;
      height: 25px;
      border: 2px solid #007BFF;
      border-radius: 8px;
      padding: 5px 10px;
      font-size: 16px;
      outline: none;
      margin: 10px;
    }
 body{
          text-align: center;
 }

  label,p{
     font-weight: bold;
}

   .registraion-form{
                  border: 2px solid blue; width: 500px;
                  text-align: center;
                  background-color: aqua;
                  margin: auto;
    }

 button{
      border-radius: 8px;
            margin: 10px;
            width: 60px;
            height: 34px;
 }

h1 {
    color: darkblue;
}


input:focus {
  border-color: #28a745;
  box-shadow: 0 0 5px #28a745;
}