  #lastname,#email,#number,#fname,#password {
      width: 200px;
      height: 15px;
      border: 2px solid #007BFF;
      border-radius: 8px;
      padding: 5px 10px;
      font-size: 16px;
      outline: none;
      margin: 10px;
    }

    .registraion-form{
                  border: 2px solid blue; width: 500px;
                  text-align: center;
                  margin: auto;
                  background-color: aqua;
    }
 label{
     font-weight: bold;
}
p{
       font-weight: bold;
       width: 400px;
       margin-left: 50px;
       text-align: center;
}

 body{
          text-align: center;
          margin-top: auto;
 }

 button{
      border-radius: 8px;
            margin: 10px;
            width: 60px;
            height: 34px;
 }

h1 {
    color: darkblue;
}

    .error { color: red; }
    .success { color: green; }

input:focus {
  border-color: #28a745;
  box-shadow: 0 0 5px #28a745;
}